{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">	
		<h3>Classes</h3>
		<p>Here, I'll try to objectively chronicle what different classes I've taken at Stanford are like - I'll add more information to this as I get more time so that other students can know what to expect from classes. If you're a student reading this and want more information on one of these classes (or if you teach one of these classes), feel free to <a href="/index#contact">contact me</a>. I'll start by noting that generally when I take classes I'm motivated by a few main things: how much I learn, how much it develops my critical thinking/problem solving ability, whether or not I could've, and more importantly <i>would've</i>, learned the material on my own, and how interesting the material was to me.</p>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="about">
			{% block classinfo %}
			{% endblock %}
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>
</div>
{% endblock %}
