{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">	
		<div class="page-header"><h2>Welcome to my site!&nbsp;<small><a href="javascript:history.back()" style="color:inherit">Turn back</a> while you still can...</small></h2></div>
		<p class="lead">Welcome to the personal website of Neal Khosla. Here, you can find information on me, projects of mine, as well as my thoughts on classes and other miscellaneous things I think about.</p>
	</div>
	<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}
