{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">	
		<div class="page-header"><h3>Projects <small>Code, Sports, and Other Miscellaneous Creations...</small></h3></div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="about">
			<ul class="nav nav-tabs">
  				<li class="active"><a href="#info" data-toggle="tab">Page Info</a></li>
				<li class="dropdown">
          		<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Sports Based Projects/Analyses<b class="caret"></b></a>
          		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
					<li><a href="#rppp" tabindex="-1" data-toggle="tab">NFL Run/Pass Statistical Prediction Engine</a></li>
            		<li><a href="#cma" tabindex="-1" data-toggle="tab">NBA Clock Management Analysis</a></li>
            		<li><a href="#des" tabindex="-1" data-toggle="tab">NBA Draft Data Scraper</a></li>
          		</ul>
        		</li>
  				<li><a href="#ibss" data-toggle="tab">Image-Based Shoe Search</a></li>
				<li><a href="#scp" data-toggle="tab">Stanford Course Planner</a></li>
			</ul>
			<br>
			<div id="myTabContent" class="tab-content">
	        	<div class="tab-pane fade in active" id="info">
					<p>This page contains info about projects I have worked on or am currently working on. I will update this as I develop more projects and have more to share. In many cases, these projects were examples I developed to help teach myself a concept and thus might be my first foray into a given field so please accept any advanced apologies for messy code or output. You can also find more details on these projects including code and other work of mine on my github (which is currently also a work in progress but should be updated).</p>
    	    	</div>
        		<div class="tab-pane fade" id="ibss">
					<p>For this project, I worked in a team of 3 to develop an engine for an image-based shoe search. Using a combination of concepts from Computer Vision and Machine Learning, we were able to create a recommendation engine that would take in an image of a shoe and spit out 10 similar shoes. For our dataset, we scraped zappos.com database of approximately 13,000 men's shoes. Below I've included some images of example outputs from our algorithm. I hope to continue working on this project to make it more robust to orientation and image-diversity (zappos has a very nice dataset). If you're interested in discovering more about this project, feel free to <a href="/about#contact">contact me.</a></p>
					<br>
					<img src="/static/images/shoe_recommendations.png" style="max-width:100%; max-height:100%;">
        		</div>
       	 		<div class="tab-pane fade" id="rppp">
					<p>For this project, I used logistic regression to predict whether NFL teams would run or pass. I used a dataset that included play outcomes for the past 10 years in the NFL and extracted a feature set that included information on down, distance, time remaining in the game, score, and distance to score. Using a k-fold cross validation technique, I was able to achieve nearly 80% prediction accuracy. I hope to continue to build out this project to feature more team specific data and tendencies and achieve higher prediction accuracy (I may consider other models but the binary classification nature of this problem suggested to me that logistic regression was a good initial model to try and it worked fairly well). While I think I have a good initial start, with a little bit more leg work, I think such a project could be succesful.</p> 
        		</div>
        		<div class="tab-pane fade" id="cma">
					<p>This project wasn't necessarily a coding project but more of a game theoretic analysis I did for a class that was centered around determining optimal strategies for basketball teams in end-of-game situations. While the analysis certainly makes a number of simplifying assumptions, I think it demonstrates the right framework for thinking about this problem and definitely could be refined to properly provide insights into how to manage such situations. If you are interested in reading my very unpolished class paper that summarizes my methodology and results, you can find it <a href="/static/files/NKBasketballTimeMgmtAnalysis.pdf">here.</a></p>
        		</div>
				<div class="tab-pane fade" id="des">
					<p>Recently, I built a web scraper using BeautifulSoup to scrape the website www.draftexpress.com and parse all of it's data on NBA drafts in the past 10 years. This involved pre-draft scouting data, including physical measurements from the NBA combine, college statistics, first-year NBA statistics, and career NBA statistics. For the statistics, I've included both basic and advanced stats as can be found on any player's stat profile on the website (e.g., <a href="http://www.draftexpress.com/profile/Anthony-Davis-6236/stats/">Anthony Davis' page</a>). Because the site had a number of inconsistencies in formatting and incomplete data, I had to throw out some of the data which you may find labeled with a "-1" value. However, after running the script, you should be able to do some post-processing and get it into a decent form for doing any sort of analysis. You can find the code for my scraper on my <a href="https://github.com/nealkhosla/DraftExpressScraper">github.</a></p>
				</div>
				<div class="tab-pane fade" id="scp">
					<p>This is a project I am currently working on to build a curriculum planning tool for students at Stanford that will help them plan their course selections over their four-years and envision potential fields of study. I will most likely begin by supporting requirements for engineers (the additional set of requirements makes such a tool potentially more valuable to engineers since they have more things they have to make sure they think about) and then expanding to other fields. I will be sure to post updates here as the project progresses. </p>
      			</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>
</div>
{% endblock %}
